@font-face{
	font-family: "Abr";
	src:url("fonts/AbrilFatface-Regular.ttf");
	font-family: "Pac";
	src:url("fonts/Pacifico-Regular.ttf");
}
*{
	font-family: "Abr";
	margin: 0px;
	padding: 0px;
}
#aa{
	background: #ffe6f0;
}
#banner{
	background: url("images/1.jpg") no-repeat;
	border-bottom: 4px #800080 solid;
}
.logo{
	height: 350px;
}
.menu{
	background: linear-gradient(to right,#ffe6f3, #ff80c1)
}
.menu ul{
	text-align: center;
}
.menu ul li{
	font-color: green;
	display: inline-block;
	font-size: 30px;
	line-height: 70px;
	margin: 0px 40px;
}
.menu a{
	text-decoration: none;
}
.container{
	width: 1200px;
	margin: 0px auto;
}
.menu a{
	 color:green;
}
.menu a:hover{
	color:white;
}
.menu a:active{
	color: purple;
}
.special_title{
	text-align: center;
	color: #ff3399;
	margin-top: 40px;
	font-family: "Pac";
}
.hr{
	text-align: center;
	width: 400px;
	margin: 0 auto;
	border-color: #ff0066;
	margin-top: 20px; 
}
#special{
	width: 1100px;
	margin: 0px;
	padding: 0px 90px;
}
.special_box{
	color: #ff99cc;
	width:300px;
	height: auto;
	padding: 0px;
	margin:  0px;
	border: 1px solid grey;
	float: left;
	margin: 40px 30px;
}
.special_box img{
	width: 300px;
	height: 300px;
}
.special_box{
	text-align: center;
	margin-top: 20px;
}
.special_box span{
	display: block;
	text-align: center;
	margin-top: 20px;
	color:  #ff99cc;
	font-size: 20px;
}
.special_box a{
	display: block;
	background:#ff99cc  ;
	font-size: 20px;
	margin-top: 20px;
	text-decoration: none;
}
.special_box a:hover{
	background: #ff3399;
}
.special_box a:active{
	background: white;
}
/*.special_box a:visited{
	background: yellow;
}
*/
.float{
	clear: both;
}
#shop{
	width: 1100px;
	margin: 0px;
	padding: 0px 90px;
}
.shop_des{
	width: 400px;
	margin-top: 20px;
	float: left;
	margin: 50px;
	line-height: 40px;
	color: #ff3399;
	font-size: 20px;

}
.shop_des img{
	height: 320px;
	width: 500px;
}
.shop-des h2{
	color: #ff99cc;
}
.float{
	clear: both;
}
#footer{
	background: #ff99cc;
}
#footer{

}

#footer ul li{
	padding: 0px;
	font-family: Pac;
	color: #ff3399;
	display: inline-block;
	font-size: 20px;
	line-height: 70px;
	margin: 0px 0px 0px 300px;
}